body {
    background-image: linear-gradient( 109.6deg,  rgba(254,253,205,1) 11.2%, rgba(163,230,255,1) 91.1% );
}

/* Header and Contact */
#header,
#contact {
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

/* Hero */
#hero {
    background: url(/assets/images/heroimage.jpg) center center/ cover;
}

.hero-message {
    height: 90vh;
}

/* Main Content Cards */
.card .card-link {
    height: 300px;
}

.main-card:hover {
    opacity: 0.5;
    transition: 0.5s;
}

/* Symptoms A to Z links */
.atoz-links a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
    color: black;
}


.atoz-links .letter {
    width: 49px;
    text-align: center;
    border-radius: 5px;
    margin: 2px 0px;
}

.atoz-links .letter:hover {
    background-color: rgb(167, 250, 250);
}

.disabled-letter a {
    color: rgb(156, 0, 0);
}

/* Icons */
.bi-envelope-at-fill,
.bi-whatsapp,
.bi-facebook,
.bi-twitter,
.bi-instagram {
    color: black
}

.bi-envelope-at-fill:hover,
.bi-whatsapp:hover,
.bi-facebook:hover,
.bi-twitter:hover,
.bi-instagram:hover {
    opacity: 0.5;
}