body {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(176,229,208,1) 42%, rgba(92,202,238,0.41) 93.6% );
}

/* Header */
/* #header {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100vw;
    background-image: radial-gradient( circle farthest-corner at 92.3% 71.5%,  rgba(83,138,214,1) 0%, rgba(134,231,214,1) 90% );
} */

#hero {
    background: url(/assets/images/heroimage.jpg) center center/ cover;
}

.hero-message {
    height: 90vh;
}

/* Main Content Cards */
.card .card-link {
    height: 300px;
}

.main-card {
    transition: 0.3s;
}

.main-card:hover {
    transform: scale(1.07);
    transition: 0.3s;
}

/* Footer contacts */
#contact {
    background-image: radial-gradient( circle farthest-corner at 92.3% 71.5%,  rgba(83,138,214,1) 0%, rgba(134,231,214,1) 90% );
}

.atoz-links a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
    color: black;
}


.atoz-links .letter {
    width: 49px;
    text-align: center;
    border-radius: 5px;
    margin: 2px 0px;
}

.atoz-links .letter:hover {
    background-color: rgb(167, 250, 250);
}

.disabled-letter a {
    color: red;
}